<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.NFC"  />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-feature android:name="android.hardware.nfc" android:required="false"/>

    <application
        android:icon="@drawable/emblem_of_mauritania"
        android:label="@string/app_name"
        android:roundIcon="@drawable/emblem_of_mauritania"
        android:supportsRtl="true"
        android:usesCleartextTraffic="false"
        android:fullBackupContent="@xml/backup_rules"
        android:theme="@style/Theme.Moritania_Test.NoActionBar">

        <activity
            android:name="com.digitalid.mauritania.ui.NavGraphActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Moritania_Test.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>